/.venv/
/venv/
.env
.env.*

/dataset/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

.DS_Store

/.query_agent_memory.json
/agent/.query_agent_memory.json
